<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<ul>
    <li><a th:href="@{/rbf4/users/admin}" th:text="'/rbf4/users/admin'">page3 admin</a></li>
    <li><a th:href="@{/rbf4/users/user}" th:text="'/rbf4/users/user'">page3 user</a></li>
    <li><a th:href="@{/rbf4/users/developer}" th:text="'/rbf4/users/developer'">page3 developer</a></li>
    <li><a th:href="@{/rbf4/users/abcde}" th:text="'/rbf4/users/abcde'">page3 outsider</a></li>
    <li><a th:href="@{/rbf4/article/1}">page1</a></li>
    <li><a th:href="@{/rbf4/article/2}">page2</a></li>
</ul>
</body>
</html>